<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<tittle>titulo</tittle>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>
	<div class="container mt-4">
		<a th:href="@{/new}" class="btn btn-primary">Nuevo</a>
		<table class="table">
			<thead>
				<tr>
					<td>ID</td>
					<td>USERNAME</td>
					<td>NAME</td>
					<td>SURNAMES</td>
					<td>EMAIL</td>
					<td>PASSWORD</td>
					<td>AGE</td>
					<td>ACTIVE</td>
					<td>LASTLOGGING</td>
					<td>CREATIONDATE</td>
					<td>ACCIONES</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user:${users}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.surnames}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.password}"></td>
					<td th:text="${user.age}"></td>
					<td th:text="${user.active}"></td>
					<td th:text="${user.lastLogging}"></td>
					<td th:text="${user.creationDate}"></td>
					<td><a th:href="@{/modify/}+${user.id}"
						class="btn btn-warning">Editar</a> <a
						th:onclick="eliminar([[$user.id]])" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>